
h1 {
    /* color:blueviolet */
}
.navbarStyle{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    
}
.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
   
  }
  
  .header-item {
    margin: 0 10px; 
    margin-top: -70px;;
  }
  
  .header-item p {
    color: black;
    font-size: 16px;

  }

  .buttons {
    display: flex;
    margin-left: 1150px;
    margin-top: -60px;
}

.header-button {
    padding: 8px 12px;
    background-color: #fff;
    color: #3498db;
    border: 2px solid #3498db; 
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    left: 70px;
}

  
@font-face {
    font-family: 'AeonikTRIAL-Bold';
    src: url('../Assets/fonts/AeonikTRIAL-Bold.otf') format('otf'),
         ;
    /* Add more source formats if necessary */
    /* font-weight: normal;
    font-style: normal; */
  }
  .headline {
    margin-left: 130px;
    margin-top:50px;
  }

  .gradient-background {
    background: linear-gradient(to top, #E7E3FC, #ffffff);
    height: 100vh;
    display: flex;
   
  }

  .getStarted {
   padding:'9px';
   background-color:'#5235E8' ;
   color:#ffffff;
   border-radius:'5px';
   justify-content: center;
  }

  
