
h1 {
    /* color:blueviolet */
}

.main-container{
    
    overflow: hidden;
}
.navbarStyle{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    
}
.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
   
  }
  
  .header-item {
    margin: 0 25px; 
    margin-top: -70px;;
  }
  
  .header-item p {
    color: black;
    font-size: 14px;

  }

  .buttons {
    display: flex;
    margin-left: 1150px;
    margin-top: -60px;
}

.header-button {
    padding: 8px 12px;
    background-color: #fff;
    color: #0E0637;
    border: 1px solid #D6D1FA; 
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    left: 70px;
}

.header-button1 {
    padding: 8px 12px;
    background-color: #fff;
    color: #5235E8;
    border: 1px solid #D6D1FA; 
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    left: 70px;
}

  
@font-face {
    font-family: 'AeonikTRIAL-Bold';
    src: url('../Assets/fonts/AeonikTRIAL-Bold.otf') format('otf'),
         ;
    /* Add more source formats if necessary */
    /* font-weight: normal;
    font-style: normal; */
  }
  .headline {
    margin-left: 130px;
    margin-top:70px;
  }

  .gradient-background {
    background: linear-gradient(to top, #E7E3FC, #ffffff);
    height: 100vh;
    display: flex;
    

    
    
   
  }

  .gradient-background1 {
    background: linear-gradient(#ffffff, #E7E3FC, #ffffff);
    height: 160vh;
    display: flex;
    justify-content: center;
  align-items: center; 
  position: relative;
  margin-top:-90px;
 
   
  }

  .gradient-background2 {
    background: linear-gradient(to bottom right, #E7E3FC, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
  align-items: center; 
  position: relative;
 
   
  }

  .gradient-background3 {
    background: linear-gradient(to center, #E7E3FC, #ffffff);
    height: 160vh;
    display: flex;
    justify-content: center;
  align-items: center; 
  position: relative;
 
   
  }

  .gradient-background4 {
    background: linear-gradient(to top, #E7E3FC, #ffffff);
    height: 160vh;
    display: flex;
  position: relative;
  margin-top: -150px;
 
   
  }

  .container4 {
    margin-left:120px;
  }


  .text-container {
    display: flex;
  }

  .featureBackground {
    background-image: url('../Assets/Pattern.png');
    background-size:100%;
    width:1500px;
    height:360px;
    margin-top:-360px;
    position: absolute;
    justify-content: center;
    align-items:center ;
    margin-left: -700px;
  }

  
  .featureBackground2 {
    background-image: url('../Assets/Pattern2.png');
    background-size:100%;
    width:1000px;
    height:360px;
    position: absolute;
    justify-content: center;
    align-items:center ;
    margin-left: 420px;
    margin-top: -240px;
  }


  .getStarted {
   padding:'9px';
   background-color:'#5235E8' ;
   color:#ffffff;
   border-radius:'5px';
   justify-content: center;
  }

  .content{
    margin-left: 120px;
    margin-top: 60px;
  }

  .partners-text {
    color: #523fe8;
    font-weight: bold;
    font-size: 13px;
    margin-left: 650px;
    margin-top: 40px;
  }

  .features-text {
    color: #523fe8;
    font-weight: bold;
    font-size: 13px;
    /* margin-left: -1400px; */
    margin-top: -850px;
    text-align: center;
  
  }

  .companies{
    margin-left: 110px;
    margin-top: 20px;
  }

  .heroContent {
    display: flex;
  }
  
.imageContainer {
  margin-left:190px;
  margin-top: 80px;
}

.line{
    margin-left: -1825px;
    justify-content: center;
    align-items:center ;
    margin-top: 40px;
}

.card{
    position: absolute;
    justify-content: center;
    align-items:center ;
    margin-top: -100px;
}

.test-text{
    color: #523fe8;
    font-weight: bold;
    font-size: 13px;
    margin-left:80px;
    margin-top: -1450px;
  }

  .text{
    color:#717184;
    font-size: 13px;
    margin-top:-200px;
   margin-left: 100px;
  }

  .testimonials{
    margin-top: -1000px;
    position: absolute;
    justify-content: center;
    align-items:center ;

  }

  .frame{
    margin-top: -450px;
    position: absolute;
    justify-content: center;
    align-items:center ;
  }

  .cta{
    margin-top: 300px;
    position: absolute;
    justify-content: center;
    align-items:center ;
  }


.footer {
  background-color: antiquewhite;
  height:60vh;
  /* justify-content:center; */
  border-radius: 20px;
  display: flex;
}

.footer-container{
  padding: 100px;
  padding-left: 130px;
  padding-right: 130px;
}

.column-one {
  padding: 70px;
  padding-top: 80px;
}
