
h1 {
    /* color:blueviolet */
}
.navbarStyle{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    
}
.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
   
  }
  
  .header-item {
    margin: 0 25px; 
    margin-top: -70px;;
  }
  
  .header-item p {
    color: black;
    font-size: 14px;

  }

  .buttons {
    display: flex;
    margin-left: 1150px;
    margin-top: -60px;
}

.header-button {
    padding: 8px 12px;
    background-color: #fff;
    color: #0E0637;
    border: 1px solid #D6D1FA; 
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    left: 70px;
}

.header-button1 {
    padding: 8px 12px;
    background-color: #fff;
    color: #5235E8;
    border: 1px solid #D6D1FA; 
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    left: 70px;
}

  
@font-face {
    font-family: 'AeonikTRIAL-Bold';
    src: url('../Assets/fonts/AeonikTRIAL-Bold.otf') format('otf'),
         ;
    /* Add more source formats if necessary */
    /* font-weight: normal;
    font-style: normal; */
  }
  .headline {
    margin-left: 130px;
    margin-top:70px;
  }

  .gradient-background {
    background: linear-gradient(to top, #E7E3FC, #ffffff);
    height: 100vh;
    display: flex;
    

    
    
   
  }

  .gradient-background1 {
    background: linear-gradient(to bottom,#ffffff, #E7E3FC, #ffffff);
    height: 160vh;
    display: flex;
    justify-content: center;
  align-items: center; 
  position: relative;
 
    /* background-image: url('../Assets/Pattern.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center; */
   
  }

  .featureBackground {
    background-image: url('../Assets/Pattern.png');
    background-size:100%;
    width:1500px;
    height:360px;
    margin-top:-10px;
    position: absolute;
    justify-content: center;
    align-items:center ;
    margin-left: -700px;
  }


  .getStarted {
   padding:'9px';
   background-color:'#5235E8' ;
   color:#ffffff;
   border-radius:'5px';
   justify-content: center;
  }

  .content{
    margin-left: 120px;
    margin-top: 60px;
  }

  .partners-text {
    color: #523fe8;
    font-weight: bold;
    font-size: 13px;
    margin-left: 650px;
    margin-top: 40px;
  }

  .companies{
    margin-left: 110px;
    margin-top: 20px;
  }

  .heroContent {
    display: flex;
  }
  
.imageContainer {
  margin-left:170px;
  margin-top: 80px;
}